/* Set up page to take whole screen without and padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.inputMessage {
    height: 47vh !important;
}

[data-role="header"] {
    background-color: hsl(171, 100%, 41%) !important;
    border: 0 !important;
}

[data-role="footer"] {
    background-color: hsl(0, 0%, 100%) !important;
    border: 0 !important;
}

/* Remove padding around map on homepage */
#mapContainer {
    padding: 0 !important;
    margin: 0 !important;
}

/* Make map whole size of the screen and hide and overflow */
#map {
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
    width: 100% !important;
    overflow: hidden;
}

#map2 {
    height: 20vh !important;
    width: auto !important;
}

.pageHeading {
    padding: 10px !important;
}

.active {
    background-color: hsl(171, 100%, 41%) !important;
    color: hsl(0, 0%, 100%) !important;
    text-decoration: none;
}

a {
    color: hsl(171, 100%, 41%) !important;
}

.icon {
    color: hsl(0, 0%, 100%) !important;
}